Rueben Varghese Philip 21BAI1817 Assignment 1

In [54]:
import pandas as pd
import numpy as np

In [55]:
a1 = {'Name':['Dev','Karthik','Alan','Franklin','Maria','Jeff','Naomi','Fiona','Ellie','Esther'],
      'Age':[24,26,27,30,29,34,25,27,np.nan,31],'Gender':['M','M','M','M','F','M','F','F','F','F'],
      'Profession':['Junior Developer','Junior Developer','Technical Leader','Project Manager','Senior Developer',
                    'Senior Developer','Technical Leader','Junior Developer','Junior Developer','Technical Leader'],
      'Salary':[45000,65000,34000,70000,50000,75000,55000,38000,39000,47000]}
a1

{'Name': ['Dev',
  'Karthik',
  'Alan',
  'Franklin',
  'Maria',
  'Jeff',
  'Naomi',
  'Fiona',
  'Ellie',
  'Esther'],
 'Age': [24, 26, 27, 30, 29, 34, 25, 27, nan, 31],
 'Gender': ['M', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'F'],
 'Profession': ['Junior Developer',
  'Junior Developer',
  'Technical Leader',
  'Project Manager',
  'Senior Developer',
  'Senior Developer',
  'Technical Leader',
  'Junior Developer',
  'Junior Developer',
  'Technical Leader'],
 'Salary': [45000,
  65000,
  34000,
  70000,
  50000,
  75000,
  55000,
  38000,
  39000,
  47000]}

In [56]:
df = pd.DataFrame(a1)
df

       Name   Age Gender        Profession  Salary
0       Dev  24.0      M  Junior Developer   45000
1   Karthik  26.0      M  Junior Developer   65000
2      Alan  27.0      M  Technical Leader   34000
3  Franklin  30.0      M   Project Manager   70000
4     Maria  29.0      F  Senior Developer   50000
5      Jeff  34.0      M  Senior Developer   75000
6     Naomi  25.0      F  Technical Leader   55000
7     Fiona  27.0      F  Junior Developer   38000
8     Ellie   NaN      F  Junior Developer   39000
9    Esther  31.0      F  Technical Leader   47000

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         9 non-null      float64
 2   Gender      10 non-null     object
 3   Profession  10 non-null     object
 4   Salary      10 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

In [58]:
df.describe()

             Age        Salary
count   9.000000     10.000000
mean   28.111111  51800.000000
std     3.179797  14132.704389
min    24.000000  34000.000000
25%    26.000000  40500.000000
50%    27.000000  48500.000000
75%    30.000000  62500.000000
max    34.000000  75000.000000

In [59]:
df.loc[3]

Name                 Franklin
Age                      30.0
Gender                      M
Profession    Project Manager
Salary                  70000
Name: 3, dtype: object

In [60]:
df.isnull().any()

Name          False
Age            True
Gender        False
Profession    False
Salary        False
dtype: bool